{% extends "kelvinkamara/layouts/main.html" %}

{% block content %}
    {% include "kelvinkamara/layouts/partials/hero.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "kelvinkamara/layouts/partials/award_how.html" %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 recommendations-outer-container">
                {% include "kelvinkamara/layouts/partials/recommendations.html" %}
            </div>
        </div>
    </div>
    <div class="container pub-container">
        <div class="row">
            {% include "kelvinkamara/layouts/partials/pub_card.html" %}
        </div>
    </div>
    {% include "kelvinkamara/layouts/partials/featured_slider.html" %}
    <div class="container post-loop-container">
        <div class="row">
            <div class="col-md-12">
                {% include "kelvinkamara/layouts/partials/loop.html" %}
            </div>
        </div>
    </div>
{% endblock %}