django~=4.0.3
django-cors-headers~=3.11.0
django-environ~=0.8.1
django-extensions~=3.1.5
django-filter~=21.1
django-templated-mail~=1.1.1
djangorestframework~=3.13.1
djangorestframework-simplejwt~=4.6.0
gunicorn~=22.0.0
ipython~=9.14.1
pymysql~=1.1.0
requests~=2.27.1
whitenoise~=6.7.0
