<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
</head>
<body>
    <h1>We received an email</h1>

    <br />

    <p><strong>Name:</strong></p>
    <p>{{ name }}</p>

    <br />

    <p><strong>Email:</strong></p>
    <p>{{ email }}</p>

    <br />

    <p><strong>Message:</strong></p>
    {{ message|linebreaks }}

    <br />

    <p>Thanks,</p>
    <p>Kelvin Kamara</p>

    <small>© 2026 <a href="{{ app_url }}">Kelvin Kamara</a>. All rights reserved.</small>
</body>
</html>