
.pub-card-container {
  margin-top: 65px;
}

.pub-card-container ul.list-group > li.list-group-item {
  padding: 0px;
  border: none;
  font-size: 15px;
}

.pub-link {
  color: darkblue;
}

.pub-icon {
  color: black;
}

.modal-icon {
  color: #fff;
  margin-top: 19px;
}

.subscribe_form {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

footer.site-footer .footer-icon-container:hover {
  text-decoration: none;
}

.gov-award-link {
  color: blue;
  text-decoration: underline;
}

.gov-award-link:hover {
  color: lightblue;
}

.hero-menu-link > a:first-child > .header-icon {
  margin-right: -2.5px;
  margin-left: 0px !important; /* first item to have 0px left-margin */
}

.hero-menu-link > a > .header-icon {
  margin-right: -2.5px;
  margin-left: 15px; /* remaining items to have 15px left-margin */
}

footer.site-footer .footer-icon-container > .footer-icon {
  margin-left: 2.5px;
  margin-right 10px;
}

.publication-cover {
  background-position: 0px -28px !important;
}

.paypal-donate-form {
  position: relative;
  margin-left: 23px;
  margin-top: 23px;
}

.modalbox.success, .modalbox.error {
  display: none;
}

@media only screen and (max-width: 1024px) {
    .publication-cover {
      background-position: 0px 80px !important;
    }
}

@media only screen and (max-width: 750px) {
  .featured-text {
    display: none;
  }
  .pub-link-tel {
    display: block;
    margin-left: 0px !important;
  }
}
