#work.featured-slider.owl-carousel.owl-theme
    .single-feature.no-image(style=`background-image: url(${asset('img/golf-american-min.png')});`)
        .featured-text
            h2
                a(href="#agb") American Golf Blog
    .single-feature.no-image(style=`background-image: url(${asset('img/ukgov-contracts-finder-min.jpg')});`)
        .featured-text
            h2
                a(href="#ukgov-cf") UK Gov Contracts Finder
    .single-feature.no-image(style=`background-image: url(${asset('img/jd-sports-min.jpeg')});`)
        .featured-text
            h2
                a(href="#jd") JD Sports Mobile App & Web CRM
    .single-feature.no-image(style=`background-image: url(${asset('img/parksmart-min.jpg')});`)
        .featured-text
            h2
                a(href="#parks") ParkSmart
