article#ukgov-cf.post-card.animation.animated.d-flex.flex-wrap.mtb-100
    .post-feature-image
        a(href="https://www.gov.uk/contracts-finder")
            img(src=asset('img/ukgov-contracts-finder-min.jpg') alt="Contacts Finder Image")
    .post-content.d-flex.flex-column.justify-content-center
        h3.title
            a(href="https://www.gov.uk/contracts-finder") UK Gov Contracts Finder
        .post-card-excerpt
            p
            | In lieu of leaving the European Union, the UK Government
            | require new systems to replace those the EU provide to
            | countries part of their unified trade.
            br
            | This is where Contracts Finder comes in, a way for businesses to
            | create notices and the public to search for them.
        .tags
            a.tag(title="commercial") Commercial
        footer.post-card-footer.pt-4.d-flex.justify-content-between
            .share-links
                a(href="https://www.gov.uk/contracts-finder")
                    i.fas.fa-link.fa-2x
article#parks.post-card.animation.animated.d-flex.flex-wrap.mtb-100
    .post-feature-image
        a(href="https://www.parksmartsolutions.co.uk/")
            img(src=asset('img/parksmart-min.jpg') alt="ParkSmart Solutions Image")
    .post-content.d-flex.flex-column.justify-content-center
        h3.title
            a(href="https://www.parksmartsolutions.co.uk/") ParkSmart Solutions
        .post-card-excerpt
            p
            | From portal appeal systems to static ANPR cameras, I both
            | created and extended systems for ParkSmart.
            br
            | Doing this with a
            | keen eye for detail while taking care to use
            | only the best tech available.
        .tags
            a.tag(title="commercial") Commercial
        footer.post-card-footer.pt-4.d-flex.justify-content-between
            .share-links
                a(href="https://www.parksmartsolutions.co.uk/")
                    i.fas.fa-link.fa-2x
article#agb.post-card.animation.animated.d-flex.flex-wrap.mtb-100
    .post-feature-image
        a(href="https://blog.americangolf.co.uk/")
            img(src=asset('img/golf-american-min.png') alt="American Golf Blog Image")
    .post-content.d-flex.flex-column.justify-content-center
        h3.title
            a(href="https://blog.americangolf.co.uk/") American Golf Blog
        .post-card-excerpt
            p
            | American Golf being the largest golf retailer in Europe; AG
            | required a custom site for their blogging needs, complete
            | with Google maps integration.
        .tags
            a.tag(title="commercial") Commercial
        footer.post-card-footer.pt-4.d-flex.justify-content-between
            .share-links
                a(href="https://blog.americangolf.co.uk/")
                    i.fas.fa-link.fa-2x
article#jd.post-card.animation.animated.d-flex.flex-wrap.mtb-100
    .post-feature-image
        a(href="https://www.jdsports.co.uk/")
            img(src=asset('img/jd-sports-min.jpeg') alt="JD Sports Image")
    .post-content.d-flex.flex-column.justify-content-center
        h3.title
            a(href="https://www.jdsports.co.uk/") JD Sports Mobile App & Web CRM
        .post-card-excerpt
            p
            | Working with fullstack javascript: Nodejs, React & React Native, 
            | Typescript, Electron. I worked on the mobile app for JD and 
            | group brands Tessuti, Ultimate Outdoors and more. I built an 
            | order management system for JD’s warehouse managing team for which 
            | I had ownership. I built that with DynamoDB, AWS Amplify & Serverless 
            | with React and Material ui on the frontend.
        .tags
            a.tag(title="commercial") Commercial
        footer.post-card-footer.pt-4.d-flex.justify-content-between
            .share-links
                a(href="https://www.jdsports.co.uk/", style={ 'margin-right': '100%', })
                    i.fas.fa-link.fa-2x
