.col-md-6.pub-card-container
    .card
        img.card-image-top(src=asset('img/12e95557831581.59e5bb448a875-min.jpg') alt="Achieving your goals image")
        .card-body
            h5.card-title What can I do for you?
            h6.card-subtitle.mb-2.text-muted Achieving your goals
            p.card-text
                ul.list-group
                    li.list-group-item ▪ UI / UX Design
                    li.list-group-item ▪ Websites
                    li.list-group-item ▪ Mobile Apps
                    li.list-group-item ▪ Desktop Apps
                    li.list-group-item ▪ Get to Google's front page (SEO)
                    li.list-group-item ▪ Updates throughout development
                    li.list-group-item ▪ Ongoing & reliable support
                    li.list-group-item ▪ Website hosting
.col-md-6.pub-card-container
    .card
        img.card-image-top(src=asset('img/5b65f67a7b5c1779fc482c7078c1-1455417.jpg!d-min.jpeg') alt="Contact me image")
        .card-body
            h5.card-title Contact me
            h6.card-subtitle.mb-2.text-muted Get in touch
            p.card-text
                | Let's discuss ways in which we can fulfill your needs.
                br
                a.card-link.pub-link.pub-link-email(href="mailto:kamaracomputers@gmail.com") Send me an email&nbsp;
                    i.far.fa-envelope.pub-icon.fa-2x
                a.card-link.pub-link.pub-link-tel(href="tel:+447956694595") Give me a call&nbsp;
                    i.fas.fa-phone.pub-icon.fa-2x
.col-md-6.pub-card-container
    .card
        img.card-image-top(src=asset('img/k-s8-pom-ae-1194-min.jpg') alt="Proof is in the pudding image")
        .card-body
            h5.card-title Proof is in the pudding
            h6.card-subtitle.mb-2.text-muted See completed projects
            p.card-text
            | A collection of commercial & hobby sites.
            br
            br
            a.card-link.pub-link(href="#work") View finished products
.col-md-6.pub-card-container
    .card
        img.card-image-top(src=asset('img/45739297102_5e280cfacc_z-min.jpg') alt="Work history image")
        .card-body
            h5.card-title Work history
            h6.card-subtitle.mb-2.text-muted Past work places
            p.card-text
            | See the established businesses I've had the priviledge of completing work for.
            br
            br
            a.card-link.pub-link(href="#work") View work history
