extends ../layouts/master

block content
    include ../layouts/partials/hero
    .container
        .row
            include ../layouts/partials/pub-card
    include ../layouts/partials/featured-slider
    .container
        .row
            .col-md-12
                include ../layouts/partials/loop
