<div class="award-how-container card" id="award-how">
    <div class="card-header">
        <h3 class="award-how-header-text">
            How I earned a government programming award
        </h3>
    </div>

    <div class="award-how-inner-container card-body">
        <img
            class="img-responsive award-how-img"
            src="https://raw.githubusercontent.com/kkamara/useful/main/python-selenium.gif"
            alt="python-selenium.gif"
        />
        <p>
            <a href='https://uk.linkedin.com/in/alec-o-donnell-abb9641'>Alec O'Donnell</a>
            and I had the responsibility of creating and maintaining an extensive testing 
            module. Alec was the database admin. I was the programmer. Our government 
            website had over twenty dynamic web forms that spanned multiple web pages. You 
            can probably imagine that if you select a dropdown option, more form elements 
            may appear. Conversely, if you click a radio button, some form elements may 
            disappear. Our objective was to programmatically test all the finite ways a 
            user could traverse each web form.
        </p>
        <p>
            All web forms were standardised and validated on strict XML schemas. Our 
            module had to make sure every error message was tested, and every success 
            case was proven to work.
        </p>
        <p>
            Alec pulled in the XML data and managed that. I created the shell command 
            that would connect to the database and generate object-oriented code 
            files to be parallelly invoked to run on Selenium Server to navigate 
            website GUIs.
        </p>
        <p>
            We optimised the performance of all operations.
        </p>
    </div>
</div>