{% load static %}
<div class="subscribe_form py-4">
    <form class="signup-form" data-members-form="signup">
        <p>
            Mr. Kelvin Kamara has over ten years of commercial experience delivering
            both front-end and back-end solutions. He believes in using the
            right tool for the job and takes a practical, quality-driven
            approach to building effective software.
        </p>
        <p>
            With a particular strength in back-end and server-side development,
            Kel received the 
            <a class="gov-award-link" href="{% static 'award.jpg' %}">UK Government Cabinet Office Recognition Award</a>
            in April 2019 for his work on secure web systems.
        </p>
    </form>
</div>